:root {
  --spacer: 1rem;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0 !important;
}
/* mt */
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: calc(var(--spacer) * 0.25 * 1);
}

.mt-2 {
  margin-top: calc(var(--spacer) * 0.25 * 2);
}

.mt-3 {
  margin-top: calc(var(--spacer));
}
.mt-4 {
  margin-top: calc(var(--spacer) * 1.5);
}
.mt-5 {
  margin-top: calc(var(--spacer) * 3);
}

/* mr */
.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: calc(var(--spacer) * 0.25 * 1);
}

.mr-2 {
  margin-right: calc(var(--spacer) * 0.25 * 2);
}

.mr-3 {
  margin-right: calc(var(--spacer));
}
.mr-4 {
  margin-right: calc(var(--spacer) * 1.5);
}
.mr-5 {
  margin-right: calc(var(--spacer) * 3);
}

/* ml */
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: calc(var(--spacer) * 0.25 * 1);
}

.ml-2 {
  margin-left: calc(var(--spacer) * 0.25 * 2);
}

.ml-3 {
  margin-left: calc(var(--spacer));
}
.ml-4 {
  margin-left: calc(var(--spacer) * 1.5);
}
.ml-5 {
  margin-left: calc(var(--spacer) * 3);
}
/* mb */
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: calc(var(--spacer) * 0.25 * 1);
}

.mb-2 {
  margin-bottom: calc(var(--spacer) * 0.25 * 2);
}

.mb-3 {
  margin-bottom: calc(var(--spacer));
}
.mb-4 {
  margin-bottom: calc(var(--spacer) * 1.5);
}
.mb-5 {
  margin-bottom: calc(var(--spacer) * 3);
}

/* pt */
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: calc(var(--spacer) * 0.25 * 1);
}

.pt-2 {
  padding-top: calc(var(--spacer) * 0.25 * 2);
}

.pt-3 {
  padding-top: calc(var(--spacer));
}
.pt-4 {
  padding-top: calc(var(--spacer) * 1.5);
}
.pt-5 {
  padding-top: calc(var(--spacer) * 3);
}

/* pr */
.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: calc(var(--spacer) * 0.25 * 1);
}

.pr-2 {
  padding-right: calc(var(--spacer) * 0.25 * 2);
}

.pr-3 {
  padding-right: calc(var(--spacer));
}
.pr-4 {
  padding-right: calc(var(--spacer) * 1.5);
}
.pr-5 {
  padding-right: calc(var(--spacer) * 3);
}

/* pl */
.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: calc(var(--spacer) * 0.25 * 1);
}

.pl-2 {
  padding-left: calc(var(--spacer) * 0.25 * 2);
}

.pl-3 {
  padding-left: calc(var(--spacer));
}
.pl-4 {
  padding-left: calc(var(--spacer) * 1.5);
}
.pl-5 {
  padding-left: calc(var(--spacer) * 3);
}
/* pt */
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: calc(var(--spacer) * 0.25 * 1);
}

.pt-2 {
  padding-top: calc(var(--spacer) * 0.25 * 2);
}

.pt-3 {
  padding-top: calc(var(--spacer));
}
.pt-4 {
  padding-top: calc(var(--spacer) * 1.5);
}
.pt-5 {
  padding-top: calc(var(--spacer) * 3);
}

/* pr */
.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: calc(var(--spacer) * 0.25 * 1);
}

.pr-2 {
  padding-right: calc(var(--spacer) * 0.25 * 2);
}

.pr-3 {
  padding-right: calc(var(--spacer));
}
.pr-4 {
  padding-right: calc(var(--spacer) * 1.5);
}
.pr-5 {
  padding-right: calc(var(--spacer) * 3);
}

/* pl */
.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: calc(var(--spacer) * 0.25 * 1);
}

.pl-2 {
  padding-left: calc(var(--spacer) * 0.25 * 2);
}

.pl-3 {
  padding-left: calc(var(--spacer));
}
.pl-4 {
  padding-left: calc(var(--spacer) * 1.5);
}
.pl-5 {
  padding-left: calc(var(--spacer) * 3);
}
/* pb */
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: calc(var(--spacer) * 0.25 * 1);
}

.pb-2 {
  padding-bottom: calc(var(--spacer) * 0.25 * 2);
}

.pb-3 {
  padding-bottom: calc(var(--spacer));
}
.pb-4 {
  padding-bottom: calc(var(--spacer) * 1.5);
}
.pb-5 {
  padding-bottom: calc(var(--spacer) * 3);
}
